.about_container{
    width: 100%;
    /* padding: 50px 8%; */
    position: relative;
    background-color: #000;
    

}
.about_container-1{
    padding: 50px 8%;
}
.about_container-2{
    padding: 50px 8% 5px 8%;
}

.imageSection{
   grid-area: imageSect;

}

.infoSection{
   grid-area: infoSect;


}

.skillSection{
    grid-area: skillSect;


}

.about_container .about_contents{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas:'imageSect infoSect' 'skillSect skillSect' ;

}
.about_contents .imageSection{
    position: relative;
    min-width: 300px;
    height: 380px;


}

.imageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about_contents .imageSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #787cb5;
    top: 15px;
    left: 15px;
    z-index: 1;
    transition: all 0.3s; /* Add a transition for a smooth effect */


}
.imageSection:hover::after {
    width: 105%;
    height: 103%;
    outline: 3px solid #787cb5;
    top: -5px;
    left: -8px;

}

.infoSection h1 {
    color: #dedce1;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.infoSection h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #aaabb0;
    transition: left 0.3s; /* Add transition for smooth animation */
}

.infoSection h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(100% - 1px);
    left: 0;
    background-color: #787cb5;
    transition: left 0.3s; /* Add transition for smooth animation */
}


.infoSection h1:hover::after {
    left: 60%; /* Move the line to the right on hover */
}



.infoSection h2{
    font-family: Tilt Neon;
    font-size: 20px;
    font-weight: 600;
    color: #2312b6;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.About_me1 {
   background-color: black;
}
.About_me1 h1 {
    align-items: center; text-align: center;
    color: #dedce1;
    font-size: 30px;
    text-transform: uppercase;
    /* display: inline-block; */
    margin-bottom: 5px;
    /* margin-top: 5px; */
    position: relative;
    padding-top: 36px;

}





.About_me1 h2{
    align-items: center; text-align: center;
    font-family: Tilt Neon;
    font-size: 20px;
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infoSection p{

    color: #aaabb0;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span-1{
    color: #aaabb0;
    letter-spacing: 1px;
}

.infoSection button{
    min-width: 150px;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: #aaabb0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: aLL 0.4s;
    margin-top: 20px;
}
.infoSection button:hover{
   color: #787cb5;
   border-color: #aaabb0; 
}

.skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;

}

.skillSection .subject{
font-size: 17px;
font-weight: thin;
color:#aaabb0;
padding-bottom: 10px;
text-transform: uppercase;
letter-spacing: 1px;

}

.progress_bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;    
}

.progress_line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222, 1px 1px 2px #111111;
    border-radius: 15px;
}

.progress_line::after{
   position: absolute;
   content: attr(value); 
   top: -35px;
   right: 0px;
   transform: translate(-50%);
   color: #aaabb0;
   font-size: 17px;

}
@media(max-width: 1068px){
    .about_container .about_contents{
    grid-template-areas:'imageSect skillSect' 'infoSect infoSect' ;


}

.skillSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

} 
}


@media(max-width: 868px){
    .about_container .about_contents{
    grid-template-areas:'imageSect imageSect' 'infoSect infoSect' 'skillSect skillSect';


}



} 


@media(max-width: 668px){
 .personalInfo{
        grid-template-columns: 1fr;
    }

}

.small-1{
    position: absolute;
    bottom: -184px;
    right: 0;
    width: 28%;
    max-width: 100%;
    height: auto; 
    z-index: 2;
    opacity: 0.2;

}
@media(max-width: 340px){
    .personalInfo{
           grid-template-columns: 1fr;
       }
   
   }
   
   .small{
       position: absolute;
       bottom: 184px;
       right: 0;
       width: 30%;
       max-width: 100%;
       height: auto; 
       z-index: 2;
       opacity: 0.2;
   
   }

 
   
   @media (max-width: 360px) {
    .about_contents .imageSection {
        min-width: auto; /* Set a new minimum width for screens below 360px */
        height: auto;    /* Allow height to adjust based on content */
    }
}

   /* hire me */
   /* skill section */
   .skills_section{
    width: 100%;
    height: 78vh;
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: aqua;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: aqua;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

@media(max-width: 800px){
    .skills_main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 49px;
        grid-column-gap: 55px;
    }
    .skills_section {
        width: 100%;
        height: 125vh;
    }
    .skills_head {
        width: 100%;
        margin-bottom: 91px;
    }
}



.do_section .heading_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .do_section .do_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 15px;
  }
  
  .do_section .do_container .box {
    text-align: center;
    position: relative;
    z-index: 5;
    margin: 0 130px 35px 10px; /* Top, Right, Bottom, Left - Adjust these values individually for specific gap */
}
  
  .do_section .do_container .box .img-box {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #353434;
    border-radius: 100%;
  }
  
  .do_section .do_container .box .img-box img {
    width: 45px;
  }
  
  .do_section .do_container .box .detail-box {
    margin-top: 35px;
  }
  
  .do_section .do_container .box:hover .img-box-4 {
    background-color: #fec016;
  }
  .do_section .do_container .box:hover .img-box-1 {
    background-color: #5416fe;
  }
  .do_section .do_container .box:hover .img-box-2 {
    background-color: #16fe50;
  }
  .do_section .do_container .box:hover .img-box-3 {
    background-color: #fe1692;
  }
  
  .do_section .do_container .arrow_bg::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -17px;
    width: 262%;
    height: 90%;
    z-index: 3;
    background-size: cover;
  }
  
  .do_section .do_container .arrow-start::before {
    background-image: url(../images/arrow-start.png);
  }
  
  .do_section .do_container .arrow-middle::before {
    background-image: url(../images/arrow-middle.png);
  }
  
  .do_section .do_container .arrow-end::before {
    background-image: url(../images/arrow-end.png);
  }
  /* .layout_padding {
    padding: 75px 0;
  } */

  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }  

  

  @media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

}

@media (max-width: 992px) {
    .do_section .do_container .box {
        text-align: center;
        position: relative;
        z-index: 5;
        margin: 35px 25px 0 25px;
    }
    
    

}

@media (max-width: 768px) {
    .do_section .do_container .arrow_bg::before {
        display: none;
    }

}

@media (max-width: 576px) {

    .do_section .do_container .arrow_bg::before {
        display: none;
    }
}




@media (max-width: 360px) {}

@media (min-width: 1200px) {
    /* .container {
        max-width: 1170px;
    } */
}

.do_section .do_container .arrow_bg::before {
    display: none;
}







.do_section .do_container .box-1 {
    text-align: center;
    position: relative;
    z-index: 5;
    /* margin: 0 130px 35px 10px; */
}
  
  .do_section .do_container .box-1 .img-box {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #353434;
    border-radius: 100%;
  }
  
  .do_section .do_container .box-1 .img-box img {
    width: 45px;
  }
  
  .do_section .do_container .box-1 .detail-box {
    margin-top: 35px;
    text-align: center;
  }
  
  .do_section .do_container .box-1:hover .img-box {
    background-color: rgb(23, 109, 171);
  }
  
  

  @media (max-width: 1000px) {
.box-1{
    display: none;
}
  }

  @media (min-width: 1000px) {
    .box-2{
        display: none;

    }
}


.do_section .do_container .box-2 {
    text-align: center;
    position: relative;
    z-index: 5;
    margin: 0 130px 35px 10px; /* Top, Right, Bottom, Left - Adjust these values individually for specific gap */
}
  
  .do_section .do_container .box-2 .img-box {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #353434;
    border-radius: 100%;
  }
  
  .do_section .do_container .box-2 .img-box img {
    width: 45px;
  }
  
  .do_section .do_container .box-2 .detail-box {
    margin-top: 35px;
  }
  
  .do_section .do_container .box-2:hover .img-box {
    background-color: rgb(22, 192, 254);
  }
  
  @media (max-width: 992px) {
    .do_section .do_container .box-2 {
        text-align: center;
        position: relative;
        z-index: 5;
        margin: 35px 25px 0 25px;
    }
    
    

}

@media (max-width: 400px) {
    .do_section .do_container .box .img-box {
        width: 100px;
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #353434;
        border-radius: 100%;
    }
    .do_section .do_container .box-2 .img-box {
        width: 100px;
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #353434;
        border-radius: 100%;
    }
   
    }


    @media (max-width: 850px) {
        .small-1{
            bottom: -400px;

        }
    }
    @media (max-width: 560px) {
        .small-1{
            bottom: -594px;

        }
    }
    @media (max-width: 400px) {
        .small-1 {
            bottom: -554px;
        }
    }
    @media (max-width: 300px) {
        .small-1 {
            bottom: -900px;
        }
    }
