@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Young+Serif&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #2e364a;
    color: #ffffff;
    scroll-behavior: smooth;
}
section-c{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #fff38e 0%, #fff38e 50%, #095a55 50%, #095a55 100%);
    color: #000000;
    font-family: 'Poppins', sans-serif;

}

section-c::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background:#fff38e ;



}

.container-c{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    /* background:#fff; */
}


.container-c .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);

}




.container-c .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container-c .contactInfo ul-c.info{
  position: relative;  
  margin: 20px 0;
}

.container-c .contactInfo ul-c.info li-c{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container-c .contactInfo ul-c.info li-c span-3:nth-child(1){
    width: 30px;
    min-width: 30px;

}
.container-c .contactInfo ul-c.info li-c span-3:nth-child(1) img{
max-width: 100%;
filter: invert(1);
}
.container-c .contactInfo ul-c.info li-c span-3:nth-child(2){
color: #fff;
margin-left: 10px;
font-weight: 300;

}

.container-c .contactInfo ul-c.sci{
    position: relative;
    display: flex;
}
.container-c .contactInfo ul-c.sci li-c{
list-style: none;
margin-right: 15px ;
}

.container-c .contactInfo ul-c.sci li-c a{
    text-decoration: none;
}

.container-c .contactInfo ul-c.sci li-c a img{
    filter: invert(1);
}




.container-c .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25); 

}

.container-c .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.container-c .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

}
.container-c .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;


}

.container-c .contactForm .formBox .inputBox.w50{
    width: 47%;
}

.container-c .contactForm .formBox .inputBox.w100{
    width: 100%;
}

.container-c .contactForm .formBox .inputBox input,
.container-c .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.container-c .contactForm .formBox .inputBox textarea{
    height: 120px;
}

.container-c .contactForm .formBox .inputBox span-3{
position: absolute;
left: 0;
padding: 5px 0;
pointer-events: none;
font-size: 18px;
font-weight: 300;
transition: 0.3s;
}

.container-c .contactForm .formBox .inputBox input:focus ~ span-3,
.container-c .contactForm .formBox .inputBox input:valid ~ span-3,
.container-c .contactForm .formBox .inputBox textarea:focus ~ span-3,
.container-c .contactForm .formBox .inputBox textarea:valid ~ span-3{
   transform: translateY(-20px); 
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 1px;
   color: #095a55;
   font-weight: 500;
}

.container-c .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #095a55;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container-c .contactForm .formBox .inputBox input[type="submit"]:hover{
  background: #0d94bb;  
}

/* responsive */
@media (max-width : 1200px){
    .container-c{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);

    }
    .container-c .contactInfo{
        top: 0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }
    .container-c .contactForm{
position: relative;
width: calc(100% - 350px);
padding-left: 0;
margin-left: 0;
padding: 40px;
height: 550px;
    }
}

@media (max-width : 991px){
    section-c{
        background: #fff38e;
    }
    section-c::before{
        display: none;
    }
    .container-c{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-c .contactForm{
        width: 100%;
        height: auto;

    } 
    .container-c .contactInfo{
        width: 100%;
        height: auto;
        flex-direction: row;

    }
    .container-c .contactInfo ul-c.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
   
@media (max-width : 600px){
    .container-c .contactForm{
        padding: 25px;
    }

    .container-c .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container-c .contactInfo ul-c.sci{
    margin-top: 40px;
    }

    .container-c .contactForm .formBox .inputBox.w50 {
        width: 101%;
    }
}